<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fypcommunicationtool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
 Make sure the device has a camera. If you use android.hardware.camera without .any,
 it will not work if you have a device without a back camera, such as most Chromebooks.
    -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- Specifying that the app will need camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_coronavirus_24"
        android:label="FYP2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".JoinInterviewActivity"></activity>
        <activity android:name=".AssessmentLevelFinish" />
        <activity android:name=".ContactsToSendGIf" />
        <activity
            android:name=".AddGIFActivity"
            android:parentActivityName=".ChatsPrivateActivity" /> <!-- Assessment & Admin -->
        <activity
            android:name=".AssessmentMenuActivity"
            android:theme="@style/AssessmentCustomTheme" />
        <activity
            android:name=".StartAssessmentActivity"
            android:parentActivityName=".AssessmentMenuActivity"
            android:theme="@style/AssessmentCustomTheme" />
        <activity
            android:name=".ViewResultsActivity"
            android:parentActivityName=".AssessmentMenuActivity"
            android:theme="@style/AssessmentCustomTheme" />
        <activity
            android:name=".SubmitCourseworkActivity"
            android:parentActivityName=".AssessmentMenuActivity"
            android:theme="@style/AssessmentCustomTheme" />
        <activity
            android:name=".ApplyCertificateActivity"
            android:parentActivityName=".AssessmentMenuActivity"
            android:theme="@style/AssessmentCustomTheme" />
        <activity
            android:name=".AssessmentLevel1Activity"
            android:theme="@style/AssessmentCustomTheme" />
        <activity android:name=".Practicee" />
        <activity android:name=".Practice" />
        <activity android:name=".MainActivityLearning" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".doneLearn" />
        <activity android:name=".Score" />
        <activity android:name=".Questions" />
        <activity android:name=".PlayLearn" />
        <activity android:name=".Learn" />
        <activity android:name=".Category" />
        <activity android:name=".recognition" />
        <activity
            android:name=".ChatsPrivateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".FindFriendsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".FindFriendsActivity" />
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ChatsGroupActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ChallengeBGM" />
        <service android:name=".LearnBGM" />

        <receiver android:name=".BroadcastReceiver.AlarmReceiver" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.fypcommunicationtool.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://@fypcommunicationtool" />
    </application>

</manifest>